* {
    font-family: Calibri;
}

ul{
    list-style-type: none;
}
.list-item{
    margin: 1vh auto;
    border-bottom: 2px solid black;
    width: 30vw;
    height: 5vh;
    font-size: 1.3vmax;
    font-family: Calibri;
    
}

.mid-align{
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
}

.delete-button{
    position:absolute;
    left: 62vw;
    font-size: 1vw;
    
}

.striked{
    text-decoration: line-through;
    color: grey;
    font-style: italic;
}
#texto-adicionar{
    width: 20vw;
    height: 3vh;
    font-size: 1vmax;
}